select{
  width: 200px;
  height: 50px;
  border: 1px solid teal;
  font-size: 14px;
  padding-left: 10px;
  
  &:focus{
    outline: none;
  }
  option {
    padding: 10px;
    margin: 0 10px;
    
    &:hover {
      background-color: blue;
      color: white; /* Меняем цвет текста при наведении */
    }
  }
}